<!DOCTYPE html>
<html>
  <head>
    <title>KJ Mall</title>
    <script src="https://kit.fontawesome.com/aa6be59868.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="main">Welcome to KJ Mall!</h1>
    <h3 class="main_description">Enjoy our fancy goods.</h3>
    <button class="enjoy_btn">Enjoy!</button>
  </body>
</html>
