<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/signin.css' />
  <title>Document</title>
</head>
<body>
  <h1 class="signin">Sign-in page</h1>
  <p><input class="log" type="text" name="id" ></p>
  <p><input class="log" type="password" name="password" ></p>
  <button class="log">log-in</button>
  <p><button class="log">find id</button></p>
  <p><button class="log">find password</button></p>
</body>
</html>
