/* index */
/* html {
  overflow: hidden;
} */

body {
  padding: 0px;
  margin: 0px;
}

.main {
  text-align: center;
  margin-top: 170px;
  font-size: 5em;
  font-weight: bolder;
}

.main_description {
  text-align: center;
  margin-top: 60px;
  font-size: 2em;
}

.enjoy_btn {
  position: absolute;
  border: none;
  background: none;
  top: 600px;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.enjoy_btn:focus {
  border: none;
  outline: none;
}

#videobcg {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 80%;
  z-index: -1000;
  z-index: -1000;
  overflow: hidden;
  opacity: 0.5;
}
